*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(127, 173, 127);
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 90%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
#contop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color:rgb(27, 117, 67);
}
.elem{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
}
.elem h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.box{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 20px;
    color: rgb(87, 80, 80);
}
#conbtm{
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#conbtm #bubble{
height: 40px;
width: 40px;
background-color: rgb(27, 117, 67);
display: flex;
justify-content: center;
align-items: center;
color: white;
border-radius: 50%;
}
#bubble:hover{
    background-color: darkgreen;
}